# Gmail Configuration
# Replace with your Gmail address and app-specific password
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASSWORD=your-16-character-app-password

# Email sender display name/address
EMAIL_FROM=noreply@afcsme.com.ph

# Email recipients
# Application & Contact forms go here:
FORMS_EMAIL=admin@afcsme.com.ph

# Inquiry forms:
INQUIRIES_EMAIL=admin@afcsme.com.ph

# Foreclosed properties form:
FORECLOSED_PROPERTIES_EMAIL=jadmin@afcsme.com.ph

# CC for all admin-side form notifications:
FORMS_CC_EMAIL=admin@afcsme.com.ph

# Server Port
PORT=4000
